
<nav class="navbar navbar-expand-md navbar-dark bg-info fixed-top" #stickyMenu [class.sticky] = "sticky" >    
        <a class="navbar-expand m-auto navbar-text" href="">Agile Automation</a>
        <div class="navbar-expand mr-auto">
          <div class="navbar-nav">
            <a class="nav-item nav-link" routerLinkActive='active' (click) ="goProyecto()">Proyecto</a>
            <a class="nav-item nav-link" routerLinkActive='active' (click) ="goPantalla()">Pantalla</a>
            <a class="nav-item nav-link" (click) ="goEscenario()">Escenario</a>
            <a class="nav-item nav-link" href="#">Ejecutar</a>
            <a class="nav-item nav-link" href="#">Reportes</a>
          </div>
        </div>
        <div class="navbar-expand ml-auto navbar-nav">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="#" target="_blank">
              <i class="fa fa-github"></i>
            </a>
            <a class="nav-item nav-link" href="#" target="_blank">
              <i class="fa fa-twitter"></i>
            </a>
            <a class="nav-item nav-link" href="#" target="_blank">
              <i class="fa fa-medium"></i>
            </a>
          </div>
        </div>
      </nav>

      <br><br><br>    
